In [1]:
import pandas as pd
path = "E:/CS_Master_Degree_UIUC/CS410_Text_Information_system/Project/Project Submission/CourseProject/Dataset/"

In [2]:
# Load annotation, representative title and synonyms of the example author
definition = pd.read_csv(path + "author_annotation_example1.csv")
rep_title = pd.read_csv(path + 'rep_titles_author_example1.csv')
syn_author = pd.read_csv(path + "coauthor_to_author_example1.csv")
syn_title = pd.read_csv(path + "syn_titles_to_author_example1.csv")

In [3]:
definition

        Ralf Steinmetz
0       Ralf Steinmetz
1           virtuellen
2  Sanjay Kumar Madria
3            workbench
4     Edwin R. Hancock

In [4]:
rep_title

                                      Ralf Steinmetz
0  Domain Name Based Visualization of Web Histori...
1  Intelligent graphical user interface design ut...
2  Realistic Force Feedback for Virtual Reality B...
3  Alignment and Correspondence Using Singular Va...
4  Symbolic Graph Matching Using the EM Algorithm...

In [5]:
syn_author

        Ralf Steinmetz
0  Sanjay Kumar Madria
1     Roberto Gorrieri
2      Thomas S. Huang
3     Edwin R. Hancock
4        Gerald Sommer

In [6]:
syn_title

     Ralf Steinmetz
0     user interfac
1  process descript
2        virtuellen
3           summari
4        high speed

In [7]:
author = syn_title.columns.values[0]
Author1_annotation = pd.DataFrame(columns = ['Author','Definition', 'Representative Titles', 'Synonym Authors', 'Synonym Titles'])
Author1_annotation['Author'] = [author] * 5
Author1_annotation['Definition'] = definition
Author1_annotation['Representative Titles'] = rep_title
Author1_annotation['Synonym Authors'] = syn_author
Author1_annotation['Synonym Titles'] = syn_title
Author1_annotation

,Author,Definition,Representative Titles,Synonym Authors,Synonym Titles
0,Ralf Steinmetz,Ralf Steinmetz,Domain Name Based Visualization of Web Histori...,Sanjay Kumar Madria,user interfac
1,Ralf Steinmetz,virtuellen,Intelligent graphical user interface design ut...,Roberto Gorrieri,process descript
2,Ralf Steinmetz,Sanjay Kumar Madria,Realistic Force Feedback for Virtual Reality B...,Thomas S. Huang,virtuellen
3,Ralf Steinmetz,workbench,Alignment and Correspondence Using Singular Va...,Edwin R. Hancock,summari
4,Ralf Steinmetz,Edwin R. Hancock,Symbolic Graph Matching Using the EM Algorithm...,Gerald Sommer,high speed

In [ ]:
Author1_annotation.to_csv(path+"context_annotation_author1.csv", index =  False)