In [1]:
import pandas as pd
path = "E:/CS_Master_Degree_UIUC/CS410_Text_Information_system/Project/Project Submission/CourseProject/Dataset/"

In [2]:
# Load annotation, representative title and synonyms of the example author
definition = pd.read_csv(path + "title_annotation_example1.csv")
rep_title = pd.read_csv(path + 'rep_titles_title_example1.csv')
syn_title = pd.read_csv(path + "syn_titles_to_title_example1.csv")
syn_author = pd.read_csv(path + "syn_authors_to_title_example1.csv")

In [3]:
definition

       virtual realiti
0  Sanjay Kumar Madria
1     Edwin R. Hancock
2     Roberto Gorrieri
3       analysi access
4      Thomas S. Huang

In [4]:
rep_title

                                     virtual realiti
0  Domain Name Based Visualization of Web Histori...
1  Realistic Force Feedback for Virtual Reality B...
2  Blackboard Segmentation Using Video Image of L...
3  Techniques for simulating difficult queueing p...
4  An approximate model for the computation of bl...

In [5]:
syn_author

       virtual realiti
0     Roberto Gorrieri
1  Sanjay Kumar Madria
2      Thomas S. Huang
3   Bharat K. Bhargava
4         Bill Hancock

In [6]:
syn_title

  virtual realiti
0          receiv
1        diagnost
2   debug program
3           versu
4  analysi access

In [7]:
title = syn_title.columns.values[0]
Title1_annotation = pd.DataFrame(columns = ['Title','Definition', 'Representative Titles', 'Synonym Titles', 'Synonym Authors'])
Title1_annotation['Title'] = [title] * 5
Title1_annotation['Definition'] = definition
Title1_annotation['Representative Titles'] = rep_title
Title1_annotation['Synonym Authors'] = syn_author
Title1_annotation['Synonym Titles'] = syn_title
Title1_annotation

,Title,Definition,Representative Titles,Synonym Titles,Synonym Authors
0,virtual realiti,Sanjay Kumar Madria,Domain Name Based Visualization of Web Histori...,receiv,Roberto Gorrieri
1,virtual realiti,Edwin R. Hancock,Realistic Force Feedback for Virtual Reality B...,diagnost,Sanjay Kumar Madria
2,virtual realiti,Roberto Gorrieri,Blackboard Segmentation Using Video Image of L...,debug program,Thomas S. Huang
3,virtual realiti,analysi access,Techniques for simulating difficult queueing p...,versu,Bharat K. Bhargava
4,virtual realiti,Thomas S. Huang,An approximate model for the computation of bl...,analysi access,Bill Hancock

In [8]:
Title1_annotation.to_csv(path+"context_annotation_title1.csv", index = False)