In [1]:
import pandas as pd
import numpy as np

In [2]:
# From title sequential frequrnt pattern mining by titles_seqPattern_mining.py,
# the seqFPs of titles were output as file "part-00000" that needed further processing. 
path = "E:/CS_Master_Degree_UIUC/CS410_Text_Information_system/Project/Project Submission/CourseProject/Dataset/output/"
titles_spark = pd.read_table(path + "part-00000.txt", header = None)
print(len(titles_spark))
titles_spark.head()

1913

                                      0
0      Row(sequence=[['home']], freq=5)
1  Row(sequence=[['perceptu']], freq=4)
2      Row(sequence=[['net']], freq=22)
3     Row(sequence=[['grid']], freq=12)
4    Row(sequence=[['delay']], freq=11)

In [3]:
# Cleaned the data by separating the pattern and frequency into two columns of dataframe
titles = titles_spark[0].apply(lambda x: x.split(" freq"))
title_patterns = titles.apply(lambda x: x[0][16:-4].split("'], ['"))
titles_freq = titles.apply(lambda x:x[1][1:-1]).astype("int")

In [4]:
title_patterns

0                     [home]
1                 [perceptu]
2                      [net]
3                     [grid]
4                    [delay]
                ...
1908         [learn, system]
1909          [learn, model]
1910      [learn, algorithm]
1911       [learn, function]
1912    [bandwidth, network]
Name: 0, Length: 1913, dtype: object

In [5]:
titles_freq

0        5
1        4
2       22
3       12
4       11
        ..
1908     9
1909     4
1910     5
1911     4
1912     5
Name: 0, Length: 1913, dtype: int32

In [6]:
data = {"title_pattern": title_patterns, 
        "Freq": titles_freq 
        } 
titles_FP_spark = pd.DataFrame(data)

In [7]:
titles_FP_spark['title_pattern'] = titles_FP_spark.apply(lambda x: ' '.join(x['title_pattern']), axis = 1)
titles_FP_spark.head()

  title_pattern  Freq
0          home     5
1      perceptu     4
2           net    22
3          grid    12
4         delay    11

In [ ]:
output_path = 'E:/CS_Master_Degree_UIUC/CS410_Text_Information_system/Project/Project Submission/CourseProject/Dataset/'
titles_FP_spark.to_csv(output_path+"titlesFP2000.csv", index = False)